- @items.each_slice(2) do |items|
  .row.content
    .col-md-2.left_menu
    - items.each do |item|
      .col-md-4
        .item
          .img_item= image_tag item.image.url(:thumb)
          %h1.texct= link_to item.title, item
          %h1= item.price

          
